<a href="https://colab.research.google.com/github/F0606012nayee/1091031/blob/main/1091031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('Hello World!')
"""
131343
5435
431
"""

Hello World!

'\n131343\n5435\n431\n'

In [7]:
x = 5
y = 3
print(x, y)
a, b, c = 1,2,4
print('a, b, c = ', a, b, c)
A = 'aabab'
B = 12
print(A + str(B))

5 3
a, b, c =  1 2 4
aabab12

In [12]:
x = 3.4
print(type(x))
x = [1,2,3]
print(type(x))
x = (1,2,3)
print(type(x))
x = b"hello"
print(type(x))
a = list(range(0,6))
print(a)
b = bool(0)
print(b)

<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'bytes'>
[0, 1, 2, 3, 4, 5]
False

In [14]:
import random
print(random.randrange(1,10))

7

In [24]:
a = "blue"
print(a[0:2])
print(a[-3:-1])
print(len(a))
a = "HELLO".lower().replace('h','p')
print(a)
age = 11
a = 'hi {} {}'
print(a.format(age,age))
c = 'hhhh "214343" rgrr'
print(c)
a = 5
b = 3
if a > b:
  print('a>b')
  print('ok')
else:
  print('a<b')
  print('no')

bl
lu
4
pello
hi 11 11
hhhh "214343" rgrr
a>b
ok

In [28]:
x = 20
y = 3
print(x ** y)
print(x // y)
y = x & 5
print(y)

8000
6
4

In [31]:
a = ['a', 1, 'b', 2] #lsit
print(a[0], a[1])
b = ('a', 1, 'b', 2) #tuple
print(b[2], b[3])
a[2] = 4
print(a)
c = {'a',1,2,3,'a','b'} #set
print(c)

a 1
b 2
['a', 1, 4, 2]
{1, 'a', 3, 2, 'b'}

In [33]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
for x in thislist:
  print(x)
thislist.append("eggs")
print(thislist)

['cherry', 'orange', 'kiwi']
apple
banana
cherry
orange
kiwi
melon
mango
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'eggs']

In [36]:
a = [0,1,2,"2",3,4,5] #list
a.remove(2)
print(a)
del a[2]
print(a)
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[0, 1, '2', 3, 4, 5]
[0, 1, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [41]:
a = (1,2,4,4) #tuple
print(a.count(4))
a = ('hello',)
print(type(a))
print(a[0])

2
<class 'tuple'>
hello

In [46]:
tuple1 = ('a', 'b', 'c')
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)
print(tuple3.index('c'))
a = {'7',1,2,3,4,5}
a.add(0)
print(a)
print(len(a))
b = a.pop()
print(b)

('a', 'b', 'c', 1, 2, 3)
2
{0, 1, 2, 3, 4, 5, '7'}
7
0

In [56]:
dict1 = {
    'a':1,
    'b':2,
    3:'c',
    4:'d'
}
print(dict1[3])
print(dict1.get(4))
print(type(dict1))
dict1[5] = 'hello'
print(dict1)
for x in dict1:
  print(x)
for x in dict1.values():
  print(x)
for x,y in dict1.items():
  print(x,y)
if 'a' in dict1:
  print('Yes')

c
d
<class 'dict'>
{'a': 1, 'b': 2, 3: 'c', 4: 'd', 5: 'hello'}
a
b
3
4
5
1
2
c
d
hello
a 1
b 2
3 c
4 d
5 hello
Yes

In [60]:
dict1 = {
    'a':1,
    'b':2,
    3:'c',
    4:'d'
}
c = dict1.popitem()
print(c, dict1)
c = dict1.popitem()
print(c, dict1)
dict1.clear()
print(dict1)
print(type(dict1))

(4, 'd') {'a': 1, 'b': 2, 3: 'c'}
(3, 'c') {'a': 1, 'b': 2}
{}
<class 'dict'>

In [68]:
dict1 = {
    'a':1,
    'b':2,
}
dict2 = {
    'c':dict1,
    'd':dict1
}
dict3 = {
    '1':dict1,
    '2':dict2
}
print(dict3['1'])
print(dict3['1']['a'])
print(dict3['2'])
print(dict3['2']['d'])

{'a': 1, 'b': 2}
1
{'c': {'a': 1, 'b': 2}, 'd': {'a': 1, 'b': 2}}
{'a': 1, 'b': 2}

In [70]:
a = 3
b = 3
if a > b:
  print('>')
elif a < b:print('<')
else:print('=')

=

In [74]:
i = 0
while i < 6:
  i += 1
  #if i == 2: continue
  print(i)
  #if i == 3: break
else:
  print('>=6')

1
2
3
4
5
6
>=6

In [78]:
f = 'king'
for x in f:
  print(x)
  if x == 'k': break

for x in range(2,30,3):
  print(x)
sum = 0
for x in range(1,100,2):
  sum += x
print(sum)

k
2
5
8
11
14
17
20
23
26
29
2500

In [80]:
for x in range(6):
  pass
else:
  print('OK')

OK